@model Tuple<Dictionary<string,int>,double,int, Dictionary<string, int>, double,List<string>>

@*
    casts,durationRole,sameTalentCovenant,castsModel,durationModel,indexCast
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<a class="btn btn-primary" style="margin-top: 20px;" href="javascript:history.go(-1)">返回上一页</a>
<hr style="background-color: black" />
<li style="margin-top: 2%">当前在wcl前100中找到 @Model.Item3 个人与角色天赋盟约相同</li>
<table class="table" style="margin-top: 2%">
    <thead>
        <tr>
            <th>技能名称</th>
            <th>你的释放数量</th>
            <th>模板选手的释放数量</th>
            <th>平均每分钟的释放数量</th>
            <th>模板选手平均每分钟的释放数量</th>
            <th>你该技能占总施法的占比</th>
            <th>模板选手的占比</th>
            <th>建议</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Item6)
        {
            var sumRole = Model.Item1.Sum(keyValuePair => keyValuePair.Value);
            var sumModel = Model.Item4.Sum(keyValuePair => keyValuePair.Value);
            <tr>
                <td>@p</td>

                @if (Model.Item1.ContainsKey(p) && Model.Item4.ContainsKey(p))
                {
                    var avgRole = Math.Round(Model.Item1[p] / Model.Item2 * 60, 2);
                    var avgModel = Math.Round(Model.Item4[p] / Model.Item5 * 60, 2);
                    var percentRole = Math.Round((double)Model.Item1[p] / sumRole, 2);
                    var percentModel = Math.Round((double)Model.Item4[p] / sumModel, 2);
                    var showTip = (percentModel - percentRole) switch
                    {
                        > 0.05 => "需要多用",
                        > 0.02 => "可以多用",
                        < -0.05 => "需要少用",
                        < -0.02 => "可以少用",
                        _ => ""
                    };
                    <td>@Model.Item1[p]</td>
                    <td>@Model.Item4[p]</td>
                    <td>@avgRole</td>
                    <td>@avgModel</td>
                    <td>@percentRole</td>
                    <td>@percentModel</td>
                    if (showTip == "")
                    {
                        <td Style="background-color: azure;color: black">@showTip</td>
                    }
                    else if (showTip == "需要多用")
                    {
                        <td Style="background-color: azure; color:mediumblue">@showTip</td>
                    }
                    else if (showTip == "需要少用")
                    {
                        <td Style="background-color: azure; color: red">@showTip</td>
                    }
                    else if (showTip == "可以多用")
                    {
                        <td Style="background-color: azure; color:lightblue">@showTip</td>
                    }
                    else if (showTip == "可以少用")
                    {
                        <td Style="background-color: azure; color: lightcoral">@showTip</td>
                    }
                }
                else if (!Model.Item1.ContainsKey(p))
                {
                    var avgModel = Math.Round(Model.Item4[p] / Model.Item5 * 60, 2);
                    var percentModel = Math.Round((double)Model.Item4[p] / sumModel, 2);
                    var showTip = (percentModel - 0) switch
                    {
                        > 0.05 => "需要多用",
                        > 0.02 => "可以多用",
                        _ => ""
                    };
                    <td>0</td>
                    <td>@Model.Item4[p]</td>
                    <td>0</td>
                    <td>@avgModel</td>
                    <td>0</td>
                    <td>@percentModel</td>
                    if (showTip == "")
                    {
                        <td Style="background-color: azure;color: black">@showTip</td>
                    }
                    else if (showTip == "需要多用")
                    {
                        <td Style="background-color: azure; color:mediumblue">@showTip</td>
                    }
                    else if (showTip == "可以多用")
                    {
                        <td Style="background-color: azure; color:dodgerblue">@showTip</td>
                    }
                }
                else
                {
                    var avgRole = Math.Round(Model.Item1[p] / Model.Item2 * 60, 2);
                    var percentRole = Math.Round((double)Model.Item1[p] / sumRole, 2);
                    var showTip = (0 - percentRole) switch
                    {
                        > 0 => "",
                        < -0.05 => "需要少用",
                        < -0.02 => "可以少用",
                        _ => ""
                    };
                    <td>@Model.Item1[p]</td>
                    <td>0</td>
                    <td>@avgRole</td>
                    <td>0</td>
                    <td>@percentRole</td>
                    <td>0</td>
                    if (showTip == "")
                    {
                        <td Style="background-color: azure;color: black">@showTip</td>
                    }
                    else if (showTip == "需要少用")
                    {
                        <td Style="background-color: azure; color: red">@showTip</td>
                    }
                    else if (showTip == "可以少用")
                    {
                        <td Style="background-color: azure; color: lightcoral">@showTip</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
