@using CNWCL.Controllers
@model Report
@{
    ViewData["Title"] = "报告";
}

<a class="btn btn-primary" style="margin-top: 20px;" href="javascript:history.go(-1)">返回首页</a>
<hr style="background-color: black"/>
<div class="row" style="margin-top: 2%">
    @foreach (var item in Model.Fights.Where(item => item.Boss != 0))
    {
        var report = Model;
        var color = !item.Kill ? "#add8e6" : "#7fff00";
        <div class="card" style="width: 23%; margin: 1% 1% 1% 1%;background-color: @color">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ConvertTime(item.StartTimeUnix,item.EndTimeUnix)</h6>
                <hr style="background-color: black"/>
                <p class="card-text">开始时间: @UnixToDateTime(Model.StartUnix,item.StartTimeUnix)</p>
                @if (!item.Kill)
                {
                    var curPercent = 100 - item.FightPercentage / 100;
                    var style = "";
                    style = curPercent switch
                    {
                        > 90 => "background-color:darkorange",
                        > 70 => "background-color:blueviolet",
                        > 50 => "background-color:blue",
                        > 20 => "background-color:green",
                        > 0 => "background-color: white",
                        _ => style
                        };
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @curPercent%;@style" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">@curPercent%</div>
                    </div>
                }
                <hr style="background-color: black"/>
                <a asp-action="AnalysisFightDetails" asp-route-fightId="@item.Id">战斗详情分析</a>
            </div>
           
        </div>
    }
</div>

@functions
{
    /// <summary>
    /// unix时间戳转换
    /// </summary>
    /// <param name="startTimeStamp"></param>
    /// <param name="unixTimeStamp"></param>
    /// <returns></returns>
    private static DateTime UnixToDateTime(long startTimeStamp,long unixTimeStamp)
    {
#pragma warning disable 618
        var startTime = TimeZone.CurrentTimeZone.ToLocalTime(new DateTime(1970, 1, 1)); // 当地时区
#pragma warning restore 618
        var dt = startTime.AddMilliseconds(startTimeStamp+unixTimeStamp);
        return dt;
    }
    /// <summary>
    /// 毫秒转换分钟
    /// </summary>
    /// <param name="start"></param>
    /// <param name="end"></param>
    /// <returns></returns>
    private static string ConvertTime(long start, long end)
    {
        var t = TimeSpan.FromMilliseconds(end-start);
        var answer = $"{t.Minutes:D2}:{t.Seconds:D2}:{t.Milliseconds:D3}";
        return answer;
    }

}